*
{
    box-sizing: border-box;
}
main
{  padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(145, 7, 136);
    position: sticky;
    top:20px;
}
#movies
{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    gap:30px

}
.card
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:rgb(45, 45, 182);
   border: 3px solid rgb(198, 168, 168);
   box-shadow: 10px 10px 12px rgb(206, 152, 194);
   transition: all 3s ease;
   background-color: rgb(196, 94, 177);
   border-radius: 8px;
}

.card:hover
{
   scale: 1.05;
} 
.dark
{
    background-color: black;
    color: white;
}
.ra
{
    display: flex;
    gap: 30px;
   
}
.h
{
    background-color: rgb(193, 14, 154);
    border-radius: 5px;
    padding: 10px;
}
.p1
{
    border: 1px solid rgb(215, 199, 211);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 12px ;
    background-color: rgb(224, 195, 220);
}